.sideBar{
    flex: 0.2;
    background-color:rgb(5, 5, 194);
    color: white;
    height: 100vh;
    flex-shrink: 0;

}
.sideBarIcon{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sideBarTopa{
    font-size: 26px;
}
.sideBarOptionsSector{
    margin-top: 30px;
}

.sideBarOption{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.selectedOption{
    background-color: rgb(72,72,222);
}